@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@400;700&family=Oswald:wght@200;500&family=Roboto:ital,wght@0,400;0,500;1,300&family=Source+Sans+Pro:wght@400;600;700&display=swap');
:root{
    --principal: rgb(88, 255, 96);
    --secundario: green;
    --terciario: rgba(88, 255, 96, 0.1);
    --cuarto: rgb(21, 59, 23);
}
/* 
COLORES: 
    VERDES

    --principal: rgb(88, 255, 96);
    --secundario: green;
    --terciario: rgba(88, 255, 96, 0.1);
    --cuarto: rgba

    ROJOS
    --principal: rgb(255, 0, 0);
    --secundario: rgb(139, 0, 0);
    --terciario: rgba(139, 0, 0, 0.2);
    --cuarto: rgb(255, 205, 205);
*/
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(wallpaper-moto2.jpg);
    background-color: var(--secundario);
    position: absolute;
    background-size:cover;
    background-repeat: no-repeat;
}

body::before{
    content: "";
    position: fixed;
    background-image: url(wallpaper-moto2.jpg);
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#body-filter-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(88, 255, 96, 0);
    position: absolute;
}

#body-filter-layer::before{
    content: "";
    position: fixed;
    background-color: var(--terciario);
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--principal);
    padding: 15px;
    text-emphasis: 1px black;
    font-size: 2.3rem;
    text-shadow: 0 0 2px var(--principal);
}

#description{
    color: white;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    padding: 0 20px 20px;
}

#container-title{
    background-color: #222;
    width: 900px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 50px auto 0;
    border-radius: 6px;
}

form{
    width: 500px;
    display: flex;
    flex-flow: column;
    background-color: rgba(20, 20, 20, 0.85);
    margin: 0 auto;
    padding: 40px;
}

form label{
    color:var(--principal);
    font-family: Roboto, Source Sans Pro, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.form-radio{
    cursor:pointer;
}

.checkbox-label{
    font-size: 12px;
}

#submit {
    background-color:var(--principal);
    color: var(--cuarto);
    cursor: pointer;
    transition: all ease 0.3s;
    align-self: center;
    padding: 15px 60px;
    margin: 20px 0 0;
    font-family: Source Sans Pro, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    background-color: var(--principal);
    box-shadow: 0 0 5px var(--principal);
    color: var(--cuarto);
}

.label-s1{
    padding: 3px 10px;
    padding-top: 0;
    color: var(--principal);
}

.input-s1{
    background-color: #000;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    margin-bottom: 12px;
    box-shadow: none;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    color: rgb(212, 212, 212);
    width: calc(100% - 20px);
}

.input-s1 ::placeholder{
    color: gray;
}

#container-form1{
    width: 895px;
    background-color: rgba(29, 82, 32, 0.2);
    margin: auto;
}

#dropdown{
    outline: none;
    background-color: black;
    color: var(--principal);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: none;
    padding: 10px;
    border: 1px solid var(--principal);
    font-size: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

#dropdown option{
    background-color: #222;
}

#dropdwon option:hover{
    background-color: #111;
}

#mailtext{
    margin: 12px 0;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.checkbox-label{
    font-size: 1.1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: 400;
}

#radios-container .checkbox-label{
    font-size: 1.2rem;
    margin: 0 30px 1rem;
    cursor: pointer;
    padding: 0;
}

#radios-container{
    display: flex;
    flex-flow: row;
    align-self: center;
}

.choose-label{
    text-align: center;
    font-size: 1.3rem;
    margin: 0 auto 1rem;
    border-top: 1px solid var(--principal);
    padding-top: 1rem;
    width: 85%;
}

#checkboxes-container{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.checkboxes{
    display: inline-block;
    color: var(--principal);
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0;
    border: none;
    outline: none;
}

#feedback-label{
    align-self: center;
    margin: 0.6rem 0 1rem;
    border-top: 1px solid var(--principal);
    width: 85%;
    text-align: center;
    padding-top: 0.7rem;
}

#textarea-input{
    outline: none;
    border: none;
    background-color: #111;
    color: aliceblue;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.5rem;
    resize: none;
    height: 8rem;
}

@media screen and (max-width: 900px) {
    #container-title{
        width: 100vw;
        border-radius: 0;
        margin: 0 auto 0;
        align-self: center;
    }

    h1, #description{
        text-align: center;
    }
    form{
        width: calc(100vw - 40px);
        padding: 20px;
    }
}